<mat-card class="formIngres">
    <mat-card-title>INGRESAR</mat-card-title>
    <mat-card-content>
        <div>
            <form [formGroup]="form" class="form-inline">
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Documento</mat-label>
                        <input matInput formControlName="documento" placeholder="355748925" type="text" pattern="[0-9]*"
                            inputmode="numeric">
                        <mat-icon matSuffix>face</mat-icon>
                        <mat-error *ngIf="form.get('documento')?.hasError('required')">
                            El documento es obligatorio
                        </mat-error>
                        <mat-error *ngIf="form.get('documento')?.hasError('pattern')">
                            Solo se permiten números
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="passwordS" placeholder="1234" type="password">
                        <mat-icon matSuffix>password</mat-icon>
                    </mat-form-field>
                </p>
                <div class="bottonLogInd">
                    <button mat-fab extended type="submit" color="warm" [disabled]="form.invalid"
                        (click)="ingresar()">
                        <mat-icon>login</mat-icon> Ingresar</button>
                </div>
                <div style="text-align: center;">
                    <a href="studentRegistry">¿Ya te registraste?</a>
                  </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>