<nav class="navbar">
  <div class="navbar-logo">InterUniversity</div>
  <ul class="navbar-links" *ngIf="!seeMenu">
    <li><a routerLink="/login">Login</a></li>
  </ul>
  <ul class="navbar-links"  *ngIf="seeMenu">
    <li><a >{{user}}</a></li>
    <li><a routerLink="/subject-parnerts-review">Ver a mis compañeros de Clase</a></li>
    <li><a routerLink="/subject-review">Revisar mis materias</a></li>
    <li><a (click)="cerrarSesion()" routerLink="/login">Cerrar session</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
  <p>© 2025 InterUniversity. Todos los derechos reservados.</p>
</footer>
